---
---

<!DOCTYPE HTML>
<html>
    <head>
        <title>{{page.title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{baseurl}}/css/material.min.css">
        <link rel="stylesheet" href="{{baseurl}}/css/custom.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body>
        
        <main>
            {{content}}
        </main>
        
        <script type="text/javascript" src="{{baseurl}}/js/material.min.js"></script>
        
        
    </body>
</html>